@{
    ViewData["Title"] = "Регистрация завершена";
}

<h3>@ViewData["Title"]</h3>
<p>
    Регистрация прошла успешно. Перейдите по ссылке на авторизацию
</p>
<a asp-controller="Account" asp-action="Login">Бренды</a>