@model OilShop.ViewModels.PricesOil.CreatePriceOilViewModel

@{
    ViewData["Title"] = "Создание - Цены";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="PricesOil" asp-action="Index">Цены</a></li>
        <li class="breadcrumb-item active">Создание</li>
    </ol>
</nav>

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Добавление цены
</h3>
<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PriceSettingDate" class="control-label"></label>
                <input asp-for="PriceSettingDate" class="form-control" />
                <span asp-validation-for="PriceSettingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @*создание выпадающего списка, элемента select при помощи Html-хелпера*@
            <div class="form-group" hidden="hidden">
                <label asp-for="IdOil" class="control-label"></label>
                @Html.DropDownListFor(m => m.IdOil,@* для какого свойства модели*@
                ViewBag.Oil as SelectList,       /* получаем переданные данные через ViewBag*/
                new { id = "oil", @class = "form-control" })     @* указываем дополнительные атрибуты для элемента*@
            </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-primary" />
        </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
