@model OilShop.ViewModels.PricesOil.EditPriceOilViewModel

@{
    ViewData["Title"] = "Изменение - Цены";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="PricesOil" asp-action="Index">Цены</a></li>
        <li class="breadcrumb-item active">Изменение</li>
    </ol>
</nav>

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Изменение цены
</h3>
<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PriceSettingDate" class="control-label"></label>
                <input asp-for="PriceSettingDate" class="form-control" />
                <span asp-validation-for="PriceSettingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="IdOil" class="control-label"></label>
                <select asp-for="IdOil" class="form-control" asp-items="ViewBag.IdOil"></select>
                <span asp-validation-for="IdOil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
