@model OilShop.Models.Data.Viscosity

@{
    ViewData["Title"] = "Вязкость";
}

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Просмотр вязкости
</h3>

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ViscosityOil)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ViscosityOil)
        </dd>
    </dl>
</div>